* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: "Roboto", sans-serif;
}

header {
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: gray;
}

/* header  */

.logo {
  display: flex;
  justify-content: flex-end;
  width: 90px;
  height: 45px;
}

.cont-logo {
  display: flex;
  align-items: center;
  height: 100%;
}

.list-menu {
  padding: 0 20px;
  font-size: 16px;
  color: #c7c7c7;
  filter: invert(1);
}

/* search-bar  */

.search-space {
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.search-bar {
  width: 90vh;
  height: 35px;
  padding: 0 8px;
  border: 1px solid #e6e4e4;
  font-size: 14px;
  background-color: whitesmoke;
}

.search-bar:hover {
  background-color: sandybrown;
}

.search-but a {
  color: black;
  padding: 7px 15px;
  background-color: rgb(213, 210, 210);
  border: 1px solid #e6e4e4;
}

.search-vocal {
  margin-left: 5px;
  font-size: 15px;
  background-color: #e6e4e4;
  border-radius: 999px;
  padding: 0 10px;
}
.search-vocal a {
  width: 35px;
  line-height: 35px;
  text-align: center;
  background-color: #e6e4e4;
  color: black;
}

/* cta header  */

.cta-header {
  display: flex;
  align-items: center;
  font-size: 15px;
  gap: 20px;
}

.status-profile {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
  border: 1px solid #e6e4e4;
  text-align: center;
  line-height: 30px;
  background-color: green;
  color: white;
  overflow: hidden;
}

.video-call:hover {
  font-size: 40px;
}
.grills:hover {
  font-size: 40px;
}
.news:hover {
  font-size: 40px;
}

/* main  */

main {
  display: flex;
  /* border: 2px solid black; */
  flex-grow: 1;
}

.side-bar {
  width: 240px;
  flex-shrink: 0;
  font-size: 12px;
  height: calc(100vh - 50px);
}

.widget {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e5e5e5;
}

.menu-item {
  padding: 10px 10px;
  display: flex;
  align-items: center;
}

.menu-item:hover,
.menu-item.active {
  background-color: #e5e5e5;
}

.menu-item .icon {
  width: 30px;
  text-align: center;
  margin-right: 10px;
  font-size: 20px;
  vertical-align: middle;
}
.icon-title {
  font-weight: 700;
}

.icon i {
  display: block;
}

.widget__title {
  padding-left: 13px;
  text-transform: uppercase;
  font-size: 14px;
}

.menu-item .profile-image {
  display: block;
  border-radius: 50%;
  width: 24px;
}

.ff {
  text-align: center;
}

.ff li {
  display: inline-block;
}
.condition {
  color: gray;
  font-family: "Lato", sans-serif;
  font-size: 14px;
}

.main-container {
  background-color: #f8f8f8;
  flex-grow: 1;
}

.categories {
  display: flex;
  background-color: white;
  gap: 15px;
  padding: 10px 25px;
  font-size: 14px;
  border-top: 1px solid #e6e4e4;
  border-bottom: 1px solid #e6e4e4;
}

.categories li {
  background-color: #f8f8f8;
  border-radius: 9999px;
  border: 1px solid #e5e5e5;
  padding: 0 15px;
  line-height: 30px;
  white-space: nowrap;
  flex-shrink: 0;
  border-radius: 999px;
}
.categories li:hover {
  background-color: #e5e5e5;
}
.categories li:active {
  background-color: black;
  color: aliceblue;
}

.play-list-wrapper {
  padding: 20px 30px;
}

.play-list {
  display: flex;
  justify-content: space-between;
}

.play-list-item {
  width: 24%;
  padding-bottom: 10px;
}

.card-header {
  margin-bottom: 10px;
}

.card-header img {
  aspect-ratio: 16/9;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.play-list-item .card-body {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.card-body img {
  border-radius: 50%;
  width: 30px;
}

.info {
  font-size: 14px;
  font-weight: 400;
}
.title-video {
  vertical-align: middle;
  font-size: 15px;
  line-height: 35px;
  font-weight: 600;
}

.autore-video {
  font-size: 12px;
  font-weight: normal;
}
